= bootstrap_form_for @<%= resource_name %> do |f|
  = hidden_field_tag :return_url, params[:return_url]

  <%- columns.each do |column| -%>
  = f.<%= column.field_type %> :<%= column.name %>
  <%- end -%>
  
  .form-actions
    = f.submit t('.submit'), :class => 'btn btn-primary'
    = link_to t('.cancel'), <%= controller_routing_path %>_path, :class => 'btn'
