%p
  = t(".hello", email: @resource.email)
%p= t(".someone_requested")
%p= link_to t(".change_my_password"), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p= t(".not_you")
%p= t(".wont_change")
